div {
	border: 0px;
	background-color: #d2e5ef;
	border-color: black;
	border-style: solid;
	border-radius: 5px;
	padding: 10px;
	width: 70%;
	max-width: 900px;
	margin: auto;
	margin-bottom: 10px;
	overflow: auto;
}

h1 {
	font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
	text-align: center;
}

table {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    margin: auto;
    border-collapse: collapse;
}

th {
	background-color: #91d6ff;
	font-weight: bold;
	border: 1px solid #afafaf;
    padding: 8px;
}

td {
    border: 1px solid #afafaf;
    padding: 8px;
}

p {
	text-align: center;
}

#movies tr:hover {
background-color: #ddd;
}

#titles {
	background-color: #91d6ff;
	font-weight: bold;
}


button {
    background-color: #91d6ff;
    margin-top: 20px;
    margin-left: 10%;
    color: black;
    padding: 10px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
}

#buttonright {
    background-color: #91d6ff;
    border-radius: 8px;
    margin-top: 0px;
    margin-right: 10%;
    float: right;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold
}

#button {
    background-color: #91d6ff;
    border-radius: 8px;
    margin-top: 0px;
    margin-left: 10%;
    color: black;
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    font-weight: bold
}

#redbutton {
	border-radius: 8px;
    background-color: #fc8080;
    color: black;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    font-weight: bold;
}

