<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<title>Server Programming</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}"></link>
</head>
<body>


	<div style="padding: 20px; width: 100%; margin: auto" class="container">
		<h1>Book store</h1>
		<div class="col-md-4">
			<h3 th:inline="text">Welcome, <b>
				[[${#httpServletRequest.remoteUser}]].</b></h3>
		</div>

		
		<table style="width: 90%" class="table-striped">
			<tr style="font-weight: bold">
				<td>Title</td>
				<td>ISBN</td>
				<td>Author</td>
				<td>Category</td>
				<td>Year</td>
				<td>Price</td>
				<td></td>
			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.title}">title</td>
				<td th:text="${book.isbn}">isbn</td>
				<td th:text="${book.author}">author</td>
				<td th:text="${book.category.name}">category</td>
				<td th:text="${book.year}">year</td>
				<td th:text="${book.price} + €">price</td>
				<td><a class="btn btn-warning"
					th:href="@{/edit/{id}(id=${book.id})}">Edit</a></td>
				<td sec:authorize="hasAuthority('ADMIN')"><a class="btn btn-danger"
					th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
			</tr>
		</table>
		<input style="float: right" class="btn btn-success" id="button" type="submit"
			value="Add a book" onclick="window.location='/addbook';" />
		<form th:action="@{/logout}" method="post">
			<input type="submit" value="Sign Out" class="btn btn-danger" />
		</form>
			
	</div>
</body>
</html>