
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>

<title>Movie Collection</title>
<meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="../css/bootstrap.min.css"
	th:href="@{../css/bootstrap.min.css}"></link>

</head>

<body>

	<div style="padding: 20px; width: 100%; margin: auto" class="container">
		<h1>Edit a book</h1>
		<form th:object="${book}" th:action="@{../save}" action="#" method="post">
			<table style="width: 60%" class="table-striped">
				<tr>
					<td><label for="title">Title</label></td>
					<td><input type="text" id="title" th:field="*{title}" /></td>
				</tr>
				<tr>
					<td><label for="isbn">ISBN</label></td>
					<td><input type="text" id="isbn" th:field="*{isbn}" /></td>
				</tr>
				<tr>
					<td><label for="author">Author</label></td>
					<td><input type="text" id="author" th:field="*{author}" /></td>
				</tr>
				<tr>
					<td><label for="year">Year</label></td>
					<td><input type="number" th:field="*{year}" /></td>
				</tr>
				<tr>
					<td><label for="price">Price</label></td>
					<td><input type="text" th:field="*{price}" /></td>
				</tr>
				<tr>
					<td><label for="category">Category</label></td>
					<td><select id="catlist" th:field="*{category}" class="form-control">
						<option th:each="category: ${categories}" th:value="${category.categoryid}" th:text="${category.name}"></option>
					</select></td>
				</tr>
			</table>
			<input type="hidden" th:field="*{id}" class="form-control" /> <input
				id="button" class="btn btn-success" type="submit" value="Save"></input>
		</form>
	</div>
</body>
</html>