
<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<link type="text/css" rel="stylesheet" href="css/style.css"
	th:href="@{css/style.css}"></link>
<link REL="SHORTCUT ICON" HREF="img/mymovies.ico"></link>

<title>Movie Collection</title>
<meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
</head>

<body>

	<div>
		<h1>
			<img src="img/Add.png"
				alt="MY MOVIE COLLECTION" />
		</h1>
		<div id="table">
		<form th:object="${movie}" th:action="@{save}" action="#"
			method="post">
			<table>
				<tr>
					<td><label for="imdb_id">IMDB ID</label></td>
					<td><input type="text" id="imdb_id" th:field="*{imdb_id}" /><span
						style='font-size: 70%'>(www.imdb.com/title/</span><span
						style='color: red; font-weight: bold'>tt1270797</span><span
						style='font-size: 70%'>)</span></td>
						<td style="border: 0px"> <p style="color: red" th:if="${#fields.hasErrors('imdb_id')}">Cannot be empty</p></td>
				</tr>
				<tr>
					<td><label for="title">Movie title</label></td>
					<td><input type="text" id="title" th:field="*{title}" /></td>
					<td style="border: 0px"> <p style="color: red" th:if="${#fields.hasErrors('title')}">Cannot be empty</p></td>
				</tr>
				<tr>
					<td><label for="director">Director</label></td>
					<td><input type="text" id="director" th:field="*{director}" /></td>
					<td style="border: 0px"><p style="color: red" th:if="${#fields.hasErrors('director')}">Cannot be empty</p></td>
				</tr>
				<tr>
					<td><label for="year">Year</label></td>
					<td><input type="number" th:field="*{year}" /></td>
					<td style="border: 0px"> <p style="color: red" th:if="${#fields.hasErrors('year')}">Not a valid year</p></td>
				</tr>

			</table>
			<p>
				<img src="img/Bar.png" alt="BAR" />
			</p>
			<input id="button" type="submit" value="Add"></input>
			
			<a th:href="@{/index}"><input id="buttonright" type="button"
			value="Cancel" /></a>
		</form>
		
			</div>





	</div>
</body>
</html>