<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link type="text/css" rel="stylesheet" href="css/style.css"
	th:href="@{css/style.css}"></link>

<title>Movie Collection</title>
<meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
</head>
<body>
<div id="content">
	<h1><img src="http://renki.dy.fi/varasto/MyMovies.png" alt="MY MOVIE COLLECTION"/></h1>
	
	<table id="movies">
		<tr id="titles">
			<th>Title</th><th>Director</th><th>Year</th><th>IMDB</th><th>Edit</th><th>Delete</th>
		</tr>
		<tr th:each="movie : ${movies}">
			<td th:text="${movie.title}">title</td>
			<td th:text="${movie.director}">director</td>
			<td th:text="${movie.year}">year</td>
			<td><a th:href="${movie.imdb_url}"><img src='https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_38x18.png' alt='IMDB' /></a></td>
			<td><a th:href="@{/edit/{id}(id=${movie.id})}"><input id="redbutton" style="background-color: #9bff9d" type="submit" value="Edit"/></a></td>
			<td><a th:href="@{/delete/{id}(id=${movie.id})}"><input id="redbutton" type="submit" value="Delete"/></a></td>
			
			
		</tr>
	</table>
	<input id="button" type="submit" value="Add a movie" onclick="window.location='/add';" />
</div>
</body>
</html>