<!DOCTYPE HTML>

<html>
<head>
<link type="text/css" rel="stylesheet" href="css/style.css"  />

<title>Movie Collection</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
<div id="content">
	<h1><img src="http://renki.dy.fi/varasto/MyMovies.png" alt="MY MOVIE COLLECTION" /></h1>
	
	<table id="movies">
		<tr id="titles">
			<th>Title</th><th>Director</th><th>Year</th><th>IMDB</th><th>Edit</th><th>Delete</th>
		</tr>
		<tr>
			<td>Terminator 2: Judgment Day</td>
			<td>James Cameron</td>
			<td>1991</td>
			<td><span class='imdbRatingPlugin' data-user='ur85273547' data-title='tt0103064' data-style='p2'><a href='https://www.imdb.com/title/tt0103064/?ref_=plg_rt_1'><img src='https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_38x18.png' alt='Terminator 2 (1991) on IMDb' /></a></span><script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src='https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js';stags.parentNode.insertBefore(js,stags);})(document,'script','imdb-rating-api');</script></td>
			<td><a href="/edit/1"><input id="redbutton" style="background-color: #9bff9d" type="submit" value="Edit" /></a></td>
			<td><a href="/delete/1"><input id="redbutton" type="submit" value="Delete" /></a></td>
			
			
		</tr>
		<tr>
			<td>Mad Max 2: The Road Warrior</td>
			<td>George Miller</td>
			<td>1981</td>
			<td><span class='imdbRatingPlugin' data-user='ur85273547' data-title='tt0082694' data-style='p2'><a href='https://www.imdb.com/title/tt0082694/?ref_=plg_rt_1'><img src='https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_38x18.png' alt='Terminator 2 (1991) on IMDb' /></a></span><script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src='https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js';stags.parentNode.insertBefore(js,stags);})(document,'script','imdb-rating-api');</script></td>
			<td><a href="/edit/2"><input id="redbutton" style="background-color: #9bff9d" type="submit" value="Edit" /></a></td>
			<td><a href="/delete/2"><input id="redbutton" type="submit" value="Delete" /></a></td>
			
			
		</tr>
		<tr>
			<td>Predator 2</td>
			<td>Stephen Hopkins</td>
			<td>1990</td>
			<td><span class='imdbRatingPlugin' data-user='ur85273547' data-title='tt0100403' data-style='p2'><a href='https://www.imdb.com/title/tt0100403/?ref_=plg_rt_1'><img src='https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_38x18.png' alt='Terminator 2 (1991) on IMDb' /></a></span><script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src='https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js';stags.parentNode.insertBefore(js,stags);})(document,'script','imdb-rating-api');</script></td>
			<td><a href="/edit/3"><input id="redbutton" style="background-color: #9bff9d" type="submit" value="Edit" /></a></td>
			<td><a href="/delete/3"><input id="redbutton" type="submit" value="Delete" /></a></td>
			
			
		</tr>
		<tr>
			<td>Aliens</td>
			<td>James Cameron</td>
			<td>1986</td>
			<td><span class='imdbRatingPlugin' data-user='ur85273547' data-title='tt0090605' data-style='p2'><a href='https://www.imdb.com/title/tt0090605/?ref_=plg_rt_1'><img src='https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_38x18.png' alt='Terminator 2 (1991) on IMDb' /></a></span><script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src='https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js';stags.parentNode.insertBefore(js,stags);})(document,'script','imdb-rating-api');</script></td>
			<td><a href="/edit/4"><input id="redbutton" style="background-color: #9bff9d" type="submit" value="Edit" /></a></td>
			<td><a href="/delete/4"><input id="redbutton" type="submit" value="Delete" /></a></td>
			
			
		</tr>
		<tr>
			<td>Blade Runner</td>
			<td>Ridley Scott</td>
			<td>1982</td>
			<td><span class='imdbRatingPlugin' data-user='ur85273547' data-title='tt0083658' data-style='p2'><a href='https://www.imdb.com/title/tt0083658/?ref_=plg_rt_1'><img src='https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/images/imdb_38x18.png' alt='Terminator 2 (1991) on IMDb' /></a></span><script>(function(d,s,id){var js,stags=d.getElementsByTagName(s)[0];if(d.getElementById(id)){return;}js=d.createElement(s);js.id=id;js.src='https://ia.media-imdb.com/images/G/01/imdb/plugins/rating/js/rating.js';stags.parentNode.insertBefore(js,stags);})(document,'script','imdb-rating-api');</script></td>
			<td><a href="/edit/5"><input id="redbutton" style="background-color: #9bff9d" type="submit" value="Edit" /></a></td>
			<td><a href="/delete/5"><input id="redbutton" type="submit" value="Delete" /></a></td>
			
			
		</tr>
	</table>
	<input id="button" type="submit" value="Add a movie" onclick="window.location='/add';" />
</div>
</body>
</html>