<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title>Server Programming</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css"
	th:href="@{css/bootstrap.min.css}"></link>
</head>
<body>


	<div style="padding: 20px; width: 100%; margin: auto" class="container">
		<h1>Book store</h1>
		<table style="width: 60%" class="table-striped">
			<tr style="font-weight: bold">
				<td>Title</td>
				<td>ISBN</td>
				<td>Author</td>
				<td>Category</td>
				<td>Year</td>
				<td>Price</td>
				<td></td>
			</tr>
			<tr th:each="book : ${books}">
				<td th:text="${book.title}">title</td>
				<td th:text="${book.isbn}">isbn</td>
				<td th:text="${book.author}">author</td>
				<td th:text="${book.category.name}">category</td>
				<td th:text="${book.year}">year</td>
				<td th:text="${book.price} + €">price</td>
				<td><a class="btn btn-danger" th:href="@{/delete/{id}(id=${book.id})}">Delete</a></td>
			</tr>
		</table>
		<input class="btn btn-success" id="button" type="submit" value="Add a book" onclick="window.location='/addbook';" />
	</div>
</body>
</html>